body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:"”";}
abbr,acronym{border:0;}
.clearfix{}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.img-rounded{border-radius:4px;}
.img-circle{border-radius:50%;}
.img-responsive{max-width:100%;height:auto;display:block;}
.left{float:left !important;}
.right{float:right !important;}
.text-center{text-align:center;}
.text-right{text-align:right;}
@font-face{font-family:OpenSans-Regular;src:url('../font/OpenSans-Regular.ttf');}@font-face{font-family:impact;src:url('../font/Impact-Regular.otf');}body{font-family:"Hiragino Sans GB",OpenSans-Regular,"microsoft yahei",helvetica,arial,sans-serif;font-size:14px;line-height:1.6;background-color:#ffffff;color:#646878;}
p{margin:0 0 10px;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight:500;line-height:1.1;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h1,.h1{font-size:36px;}
h2,.h2{font-size:30px;}
h3,.h3{font-size:24px;}
h4,.h4{font-size:18px;}
h5,.h5{font-size:14px;}
h6,.h6{font-size:12px;}
ul,ol{margin-top:0;margin-bottom:10px;margin-left:0;padding-left:2em;}ul ul,ol ul,ul ol,ol ol{margin-bottom:0;}
dl{margin-bottom:20px;}
dt,dd{line-height:20px;}
dt{font-weight:bold;}
blockquote,.blockquote{padding:10px 20px;margin:0 0 20px;border-left:5px solid #cdcdcd;}
blockquote p:last-child,.blockquote p:last-child{margin-bottom:0;}
blockquote small,.blockquote small{display:block;line-height:1.4;color:#888;}blockquote small:before,.blockquote small:before{content:'\2014 \00A0';}
a:link,a:active,a:visited{color:#2980b9;text-decoration:none;}
a:hover{color:#20638f;}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-family:"Hiragino Sans GB",OpenSans-Regular,"microsoft yahei",helvetica,arial,sans-serif;line-height:20px;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:4px;background-color:#3d566e;color:#ffffff;white-space:nowrap;}input.btn,button.btn{*overflow:visible;*padding:0 12px;*line-height:inherit;*height:34px;}
.btn:hover,.btn:focus{color:#ffffff;text-decoration:none;background-color:#3d566e;outline:0;}
a.btn{color:#ffffff;}
.btn:active,.btn.active{outline:0;background-image:none;}
.btn:hover{background-color:#2b3c4d;}
.btn.disabled{cursor:not-allowed;pointer-events:none;opacity:0.65;filter:alpha(opacity=65);}
.btn-block{display:block;padding-left:0;padding-right:0;}
.btn-ask{background-color:#51a351;}.btn-ask:hover{background-color:#499249;}
.btn-comment{background-color:#476fb2;}.btn-comment:hover{background-color:#4064a0;}
.btn-invite{background-color:#dfa034;}.btn-invite:hover{background-color:#d89522;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;width:954px;}.container:before,.container:after{content:"";display:table;}
.container:after{clear:both;}
.container{*zoom:1;}
.container:before,.container:after{content:"";display:table;}
.container:after{clear:both;}
.container{*zoom:1;}
.row{margin-left:-15px;margin-right:-15px;}.row:before,.row:after{content:"";display:table;}
.row:after{clear:both;}
.row{*zoom:1;}
.row:before,.row:after{content:"";display:table;}
.row:after{clear:both;}
.row{*zoom:1;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{float:left;position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-12{width:954px;}
.col-11{width:872px;}
.col-10{width:790px;}
.col-9{width:708px;}
.col-8{width:626px;}
.col-7{width:544px;}
.col-6{width:462px;}
.col-5{width:380px;}
.col-4{width:298px;}
.col-3{width:216px;}
.col-2{width:134px;}
.col-1{width:52px;}
.col-offset-11{margin-left:902px;}
.col-offset-10{margin-left:820px;}
.col-offset-9{margin-left:738px;}
.col-offset-8{margin-left:656px;}
.col-offset-7{margin-left:574px;}
.col-offset-6{margin-left:492px;}
.col-offset-5{margin-left:410px;}
.col-offset-4{margin-left:328px;}
.col-offset-3{margin-left:246px;}
.col-offset-2{margin-left:164px;}
.col-offset-1{margin-left:82px;}
.col-offset-0{margin-left:0px;}
.navbar{padding:7px 0 7px 0;background-color:#3d566e;}.navbar .right{margin-top:14px;}
.logo{display:inline-block;width:150px;height:60px;background:url('../img/ck-w.png') 0 0 no-repeat;}
.navbar-nav{list-style:none;float:left;padding-left:0;margin-bottom:0;}.navbar-nav li{float:left;margin-left:15px;}
.navbar-nav a:link,.navbar-nav a:visited,.navbar-nav a:active{display:inline-block;height:20px;line-height:20px;padding:6px 12px;font-size:16px;color:#fff;text-decoration:none;}
.navbar-btn{display:inline-block;height:20px;margin-left:15px;line-height:20px;padding:6px 16px;font-size:14px;color:#fff;border-radius:4px;text-decoration:none;float:left;border:1px solid #fff;-webkit-transition:all 500ms;transition:all 500ms;}.navbar-btn:link,.navbar-btn:visited,.navbar-btn:active{color:#fff;}
.navbar-btn:hover{background-color:#fff;color:#3d566e;}
.btn-singout{padding:0;border:none;width:40px;height:32px;background:url('../img/ck-w.png') -210px 0 no-repeat;}.btn-singout:hover{background-color:transparent;}
.navbar-user{cursor:pointer;border-radius:6px;margin-left:15px;}
.navbar .dropdown-menu{left:auto;right:0;min-width:90px;}
.footer{padding:20px 0;color:#666;font-size:12px;border-top:1px solid #ededed;}.footer a:link,.footer a:visited,.footer a:hover,.footer a:active{color:#666;}
.navbar{position:absolute;width:100%;background:none;border-bottom:1px solid #444568;border-bottom:1px solid rgba(255, 255, 255, 0.15);z-index:1111;}.navbar .container{width:80%;min-width:954px;}
.banner{position:relative;height:700px;background:#140d38 url(../img/indexbg.jpg) top center no-repeat;}.banner .wtslm{position:absolute;top:85px;left:50%;margin-left:-394px;}
a.btn-p,a.btn-s{position:absolute;top:520px;left:50%;display:inline-block;border-radius:4px;width:277px;padding:8px 0 10px 0;text-align:center;border:1px solid #fff;color:#fff;line-height:1.4;font-size:30px;-webkit-transition:all 500ms 0ms;transition:all 500ms 0ms;}a.btn-p span,a.btn-s span{font-size:12px;display:block;color:#c2bfcf;color:rgba(255, 255, 255, 0.57);}
a.btn-p:hover,a.btn-s:hover{background-color:#fff;color:#140d38;}a.btn-p:hover span,a.btn-s:hover span{color:#140d38;}
a.btn-p{margin-left:-306px;}
a.btn-s{margin-left:33px;}
.p-h{height:111px;padding-top:70px;margin:0 auto;text-indent:-9999px;background:url(../img/index_p0.png) bottom center no-repeat;}
.preserve-3d .promoter{background-color:#f0f0f0;position:relative;}
.preserve-3d .p-container{overflow:hidden;width:100%;height:530px;-webkit-perspective:800;-moz-perspective:800;-webkit-perspective-origin:50% 225px;-moz-perspective-origin:50% 225px;}
.preserve-3d .p-stage{width:100%;height:100%;-webkit-transition:-webkit-transform 2s;-moz-transition:-moz-transform 2s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform:translateZ(-680px);-moz-transform:translateZ(-680px);}
.preserve-3d .p-shape{position:relative;top:90px;margin:0 auto;height:320px;width:480px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;}
.preserve-3d .card{position:absolute;border-radius:6px;background-color:rgba(255, 255, 255, 0.9);padding:30px 0 0 0;width:480px;height:280px;overflow:hidden;-webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 0 5px;box-shadow:rgba(0, 0, 0, 0.5) 0 0 5px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:-webkit-transform 2s,opacity 2s;-moz-transition:-moz-transform 2s,opacity 2s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;}
.preserve-3d .p-shape .card{-webkit-backface-visibility:visible;-moz-backface-visibility:visible;}
.preserve-3d .p-shape{-webkit-transition:-webkit-transform 500ms,opacity 1s;-moz-transition:-moz-transform 500ms,opacity 1s;}
@-webkit-keyframes spin{from{-webkit-transform:rotateY(0);} to{-webkit-transform:rotateY(-360deg);}}.preserve-3d .p-a{display:block;border-radius:4px;margin:0 auto;}
.preserve-3d .p-n{text-align:center;margin:3px 0;}.preserve-3d .p-n a{font-size:18px;color:#3d566e;font-weight:bold;}.preserve-3d .p-n a:hover{color:#ec8232;}
.preserve-3d .p-t{text-align:center;margin-bottom:12px;}
.preserve-3d .p-s{font-size:12px;height:38px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:20px 40px;background-color:#f5f5f5;}
.preserve-3d .card0{-webkit-transform:translateZ(680px);-moz-transform:translateZ(680px);}
.preserve-3d .card1{-webkit-transform:rotateY(40deg) translateZ(680px);-moz-transform:rotateY(40deg) translateZ(680px);}
.preserve-3d .card2{-webkit-transform:rotateY(80deg) translateZ(680px);-moz-transform:rotateY(80deg) translateZ(680px);}
.preserve-3d .card3{-webkit-transform:rotateY(120deg) translateZ(680px);-moz-transform:rotateY(120deg) translateZ(680px);}
.preserve-3d .card4{-webkit-transform:rotateY(160deg) translateZ(680px);-moz-transform:rotateY(160deg) translateZ(680px);}
.preserve-3d .card5{-webkit-transform:rotateY(200deg) translateZ(680px);-moz-transform:rotateY(200deg) translateZ(680px);}
.preserve-3d .card6{-webkit-transform:rotateY(240deg) translateZ(680px);-moz-transform:rotateY(240deg) translateZ(680px);}
.preserve-3d .card7{-webkit-transform:rotateY(280deg) translateZ(680px);-moz-transform:rotateY(280deg) translateZ(680px);}
.preserve-3d .card8{-webkit-transform:rotateY(320deg) translateZ(680px);-moz-transform:rotateY(320deg) translateZ(680px);}
.preserve-3d .p-btn{display:inline-block;width:50px;height:50px;line-height:50px;border-radius:50%;text-align:center;cursor:pointer;position:absolute;top:370px;left:50%;z-index:1112;border:2px solid #cdcdcd;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.preserve-3d .p-btn:hover{border:2px solid #ec8232;color:#ec8232;}
.preserve-3d #pNext{margin-left:152px;}
.preserve-3d #pPre{margin-left:-200px;}
.no-preserve-3d .promoter{background-color:#f0f0f0;position:relative;}
.no-preserve-3d .p-container{overflow:hidden;width:990px;margin:0 auto;padding:50px 0;}
.no-preserve-3d .p-btn{display:none;}
.no-preserve-3d .card{float:left;display:block;width:298px;border:1px solid #dedede;margin:10px 15px;padding:20px 0 0 0;background-color:#fff;border-radius:4px;}
.no-preserve-3d .p-a{display:block;border-radius:4px;margin:0 auto;}
.no-preserve-3d .p-n{margin:0;*margin:5px 0;text-align:center;}
.no-preserve-3d .p-n a{font-size:18px;color:#3d566e;font-weight:bold;line-height:1;}.no-preserve-3d .p-n a:hover{color:#ec8232;}
.no-preserve-3d .p-t{text-align:center;margin-bottom:12px;}
.no-preserve-3d .p-s{height:61px;font-size:12px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:12px 20px;background-color:#f5f5f5;overflow:hidden;}
.m-container{width:990px;margin:0 auto;padding:50px 0;}
.m-h{height:111px;text-indent:-9999px;background:url(../img/index_m0.png) top center no-repeat;margin:0 auto;}
.m-list{margin:30px 15px 0;border:1px dotted #ccc;border-radius:6px;}
.m-list a{border-top:1px dotted #ccc;display:block;font-size:16px;padding:20px;color:#5d626f;-webkit-transition:all 500ms 0ms;transition:all 500ms 0ms;}
.m-list a b{display:inline-block;width:205px;color:#3d566e;font-size:14px;}
.m-list a i{font-style:normal;float:right;}
.m-list a:hover{color:#ec8232;}
.s-container{width:990px;margin:0 auto;padding:50px 0;}
.s-h{height:111px;text-indent:-9999px;background:url(../img/index_st0.png) top center no-repeat;margin:0 auto;}
.s-card{border:1px solid #d2d2d2;border-radius:4px;}
.s-l{border-radius:4px;float:left;margin:24px 16px;}
.s-n{margin:24px 0 6px;}
.s-n a{font-size:18px;font-weight:bold;color:#3d566e;}
.s-n a:hover{color:#ec8232;}
.s-s{font-size:12px;padding-right:12px;}
.s-c{clear:left;background-color:#f5f5f5;padding:20px 12px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.finance-data-value{float:right;}
.finance-data-title{float:left;}
.finance-data-bar{padding:2px;border-radius:5px;background-color:#3d566e;height:4px;margin-top:6px;}
.finance-data-progress{background-color:#b3c6f1;height:4px;border-radius:3px;}
.s-list{margin:0;padding:0;list-style:none;overflow:hidden;}
.s-list li{float:left;width:300px;margin:15px;}
.s-top{padding:30px 15px 15px;overflow:hidden;}
.s-top-m{float:left;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.s-top-r{float:left;width:300px;}
.s-top-r .s-card{height:262px;border:none;background:#3d566e;color:#fff;overflow:hidden;border-top-left-radius:0;border-bottom-left-radius:0;}
.s-top-r .s-wrap{height:148px;padding:0 24px;}
.s-top-r .s-n{margin:24px 0;text-align:center;}
.s-top-r .s-n a{font-size:20px;color:#fff;}
.s-top-r .s-n a:hover{color:#ec8232;}
.s-top-r .s-c{background:none;}
.s-top-r .finance-data-bar{background-color:#fff;padding:0;}
.s-top-r .finance-data-progress{background-color:#ec8232;}
.qa{background-color:#f0f0f0;overflow:hidden;}
.qa-container{width:990px;margin:0 auto;}
.qa-container a{display:block;width:300px;height:280px;float:left;margin:0 14px;border:1px dotted transparent;border-radius:6px;background-image:url(../img/index-qa.png);background-repeat:no-repeat;text-indent:-9999px;background-position:0 -280px;border-color:#ccc;}
a.qa-2{background-position:-330px -280px;}
a.qa-3{background-position:-660px -280px;}
.pa-h{width:181px;height:40px;text-indent:-9999px;background:url(../img/index_pa0.png) 0 0 no-repeat;margin:30px auto;}
.partner-list{overflow:hidden;padding:50px 0;}
a.partner{display:block;*display:inline;width:465px;height:200px;float:left;margin:15px;}
.pa-w{background-color:#fff;color:#5d626f;display:block;width:100%;height:100%;position:absolute;top:0;left:0;}
.pa-w-i{border-radius:4px;border:1px solid #cdcdcd;}
.pa-s{padding:0 20px;height:140px;overflow:hidden;}
.pa-t{margin:0;height:40px;line-height:40px;padding:10px 20px;}
.no-preserve-3d a.partner{
  position:relative;
}
.no-preserve-3d a.partner img{
  border-radius:4px;
}
.no-preserve-3d a.partner .pa-w{display:none;}
.no-preserve-3d a.partner:hover .pa-w{display:block;}
.preserve-3d a.partner{
  -webkit-perspective:200;
  -webkit-transition:all .07s linear;
  transition:all .7s linear;
  position:relative;
}
.preserve-3d a.partner:hover .pa-i{
  -webkit-transform:translateZ(-100px) rotateX(90deg);
}
.preserve-3d a.partner .pa-i{
  -webkit-transition:all 0.3s ease-out;-webkit-transform:translatez(-100px);
  -webkit-transform-style:preserve-3d;
  pointer-events:none;position:absolute;
  top:0;left:0;display:block;
  width:100%;height:100%;
}
.preserve-3d a.partner img{
  -webkit-transform:rotatex(0deg) translatez(100px);
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  border-radius:4px;
}
.preserve-3d a.partner .pa-w{
  -webkit-transform:rotatex(-90deg) translatez(100px);
  box-sizing:border-box;
}
.promoter,.partner-list{display:none;}
.preserve-3d .promoter,.no-preserve-3d .promoter,.preserve-3d .partner-list,.no-preserve-3d .partner-list{display:block;}
